:root {
    --color: #cf692d;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-image: url('../img/uni.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #DFDFDF;
    overflow-x: hidden;
}

.carouselOff {
    display: flex;
}

.return {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
   
}

.card {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 15px solid var(--color);
    border-left: 15px solid transparent;
    padding: 20px;
    border-radius: 8px;
    margin-top: 80px;
    transition: 0.2s;
    z-index: 9;
}

.card:hover {
    transition: 0.2s;
    transform: scale(1.2);


    .title {
        color: var(--color);

    }

    .img {
        border-bottom: 1px solid var(--color);
        border-top: 1px solid var(--color);
        padding: 0;
        margin: 0;
    }

}

.img {
    width: 50%;
    height: 100%;
    border-radius: 8px;
    padding: 5px;
    padding-right: 10px;
}


.author {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color);
    cursor: pointer;
}

.title {
    cursor: pointer;
    color: var(--color);
}

.title:hover {
    color: #fff;
}

.title2 {
    color: #fff;
    width: 100%;
    cursor: pointer;
}

.desc {
    margin: 0;
    width: 100%;
}



.btn_div {
    padding-top: 5px;
}

.btn {
    padding: 5px 15px;
    background-color: var(--color);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.btn:hover {
    background-color: rgb(38, 95, 143);
}

.newsImg {
    display: none;
}

.space {
    margin: 20px;
}

.catDiv {
    position: fixed;
    z-index: 9999;
    padding: 5px;
    margin-top: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.cat {
    color: var(--color);
    text-shadow: 2px 2px 4px rgba(121, 120, 103, 0.781);
}

.more {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(55, 88, 199, 0.781);
}

.inicio {
    position: absolute;
    top: 80px;
    left: 45%;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*= RETUNR RIGHT =*/
.card2 {
    width: 400px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    background-color: #3C4042;
    padding: 20px;
    transition: 0.2s;
    margin-top: 5px;
    cursor: pointer;
    gap: 20px;
    border-left: 15px solid var(--color);
    border-right: 15px solid transparent;
}

.newsImg2 {
    margin-top: 20px;
    width: 470px;
}

.card2:Hover {
    transform: scale(1.2);
    border-right: 15px solid var(--color);

    .title2 {
        color: var(--color);
    }
}

.img2 {
    width: 150px;
    border-radius: 8px;
    cursor: pointer;
}

.returnR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.author2 {
    display: none;
}

.off {
    display: none;
}

@media screen and (max-width: 1024px) {
    .catDiv {
        margin-top: 53px;
    }
}

@media screen and (max-width: 768px) {
    .catDiv {
        margin-top: 48px;
    }
}

@media screen and (max-width: 425px) {
    .catDiv {
        margin-top: 42px;
    }
}

@media screen and (max-width: 375px) {
    .catDiv {
        margin-top: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .card {
        width: 60%;
    }
}

.newsImgx {
    display: none;
}

.img {
    min-height: 200px;
}

.return {
    flex-direction: column;
    align-items: center;
}

.returnL {
    display: flex;
}

.card {
    width: 300px;
    position: relative;
    border: none;
}


.card2 {
    width: 70%;
}

/*=====*/
.carouselOff {
    display: none;
}

.carouselOn {
    display: flex;
    width: 100%;
}

.title {
    position: absolute;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0px 30px;
}

.img {
    width: 110%;
}


@media screen and (max-width: 1030px) {}


@media screen and (max-width: 940px) {
    .card {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .img {
        width: 110%;
    }

}

@media screen and (max-width: 876px) {
.return{
    margin-top: 95px;
}
    .desc,
    .btn {
        display: none;
    }

    .returnL {
        flex-direction: column;
    }

    .card {
        width: 400px;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 8px;
        background-color: #fff;
        padding: 20px;
        transition: 0.2s;
        cursor: pointer;
        gap: 20px;
        border-left: 1px solid var(--color);
    }

    .returnR {
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .card2 {
        width: 90%;
        align-items: center;
        justify-content: center;
    }

    .carouselOff {
        display: none;
    }

    .carouselOn {
        display: none;
    }

    .author2 {
        display: flex;
    }

    /*===*/
    .off {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

@media screen and (max-width: 580px) {
    .card2 {
        flex-direction: column;
        text-align: center;
    }

    .img2 {
        width: 100%;
    }

}