.preloader{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(circle, #121212, #16161c, #181a27, #191e32, #16223d);
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999999999999;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader .texts-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: auto;
    gap: 8px;
    font-size: 30px;
    font-weight: 900;
    overflow: hidden;
    color: #fff;
}

.blue{
    color: #2f76af;
}

::-webkit-scrollbar {
    width: 9px;
    height: 50px;
    background: linear-gradient(45deg, #243944, #fff);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #243944, #fff);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #121212, #333331);
    transition: 0.5s;
}