.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2a2d35;
    padding: 10px 0px;
    color: #fff;
}

.icons {
    display: flex;
    gap: 10px;
}

.name {
    font-weight: bold;
    color: #cf692d;
}

.icon{
    transition: 0.2s;
    width: 32px;
}

.icon:hover{
    transition: 0.2s;
    transform: scale(1.2); 
}